<?xml version="1.0"?>
<CFProjPrefs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <projectPath>F:/Games/Modern_FPS_Gun_Shooter_GS_(2.3.1_50)/Modern FPS Gun Shooter GS (2.3.1_50)/Modern FPS Gun Shooter GS (2.3.1_50)/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>